In [2]:
# Import all libraries needed for the tutorial

# General syntax to import specific functions in a library: 
##from (library) import (specific library function)
from pandas import DataFrame, read_csv

# General syntax to import a library but no functions: 
##import (library) as (give the library a nickname/alias)
import matplotlib.pyplot as plt
import pandas as pd #this is how I usually import pandas
import sys #only needed to determine Python version number
import matplotlib #only needed to determine Matplotlib version number
import numpy as np

# Enable inline plotting
%matplotlib inline

In [48]:
#Assign value to cell based on values in antoher cell
df = pd.DataFrame({'a':(1,2,3), 'b':(None)})

#Set row 'b' equal to 100 where a == 1
df.loc[df.a == 3,'bsafdsaf'] = 100

In [71]:
#Simple bar graph

objects = ('Python', 'C++', 'Java', 'Perl', 'Scala', 'Lisp')
y_pos = np.arange(len(objects))
performance = [10,8,6,4,2,1]
 
plt.bar(y_pos, performance, align='center', alpha=0.5)
plt.xticks(y_pos, objects)
plt.ylabel('Usage')
plt.title('Programming language usage')
 
plt.show()

#with a lot of x axis...
plt.xticks(y_pos, objects, rotation=90)

Series([], dtype: float64)

In [ ]:
#Print out everything
np.set_printoptions(threshold=np.inf)
pd.options.display.max_seq_items = 2000

In [ ]:
#Take out strings from columns

ed.columns = ed.columns.str.replace('\xa0', '')

In [106]:
#Replace all blanks with NaN in a df

blank = pd.DataFrame(['','',1])
print('is blank? ' + str(blank.ix[0][0] == ''))

blank = blank.applymap(lambda x: None if x == '' else x)
print('is None? ' + str(blank.ix[0][0] == None))

blank.ix[2:4]

is blank? True
is None? False

     0
2  1.0

In [ ]:
#Delete column
del(df['col'], axis = 1)

#...multiple:
df = df.drop(df.columns[[1,2,3,4,5,6,7,8]], axis=1)


#Delete row
df.drop(index_val)

#Delete row based on value from another row
df.drop(df[df['id'] == row[1].values[0]].index)

In [124]:
#Ranking a df by groupby
rank = pd.DataFrame({'a':(1,4,6,11,2,3), 'b': 'val'})

rank.groupby('b').sum().rank(axis=1)

#to rank a list from lowest to highest ranking (where 1 is 'highest' eg)
an.groupby(['Location']).sum().T['Central'].rank(method='first', ascending=False).sort_values()

       a
b
val  1.0

In [1]:
#Groupby with agg
#http://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/

# Define the aggregation calculations
aggregations = {
    'duration': { # work on the "duration" column
        'total_duration': 'sum',  # get the sum, and call this result 'total_duration'
        'average_duration': 'mean', # get mean, call result 'average_duration'
        'num_calls': 'count'
    },
    'date': {     # Now work on the "date" column
        'max_date': 'max',   # Find the max, call the result "max_date"
        'min_date': 'min',
        'num_days': lambda x: max(x) - min(x)  # Calculate the date range per group
    },
    'network': ["count", "max"]  # Calculate two results for the 'network' column with a list
}
 
# Perform groupby aggregation by "month", but only on the rows that are of type "call"
data[data['item'] == 'call'].groupby('month').agg(aggregations)

NameError: name 'data' is not defined

In [ ]:
#Rename column

df = df.rename(columns = {'from' : 'to'})

In [5]:
#Pearson calculation

df=pd.DataFrame( {'one':[0.1, .32, .2, 0.4, 0.8], 'two':[.23, .18, .56, .61, .12], 'three':[.9, .3, .6, .5, .3], 'four':[.34, .75, .91, .19, .21], 'zive': [0.1, .32, .2, 0.4, 0.8], 'six':[.9, .3, .6, .5, .3], 'drive':[.9, .3, .6, .5, .3]})

df.corr(method = 'pearson')

df.where?

In [ ]:
#chi squared test

import pandas as pd
from scipy.stats import chi2_contingency
import scipy.stats as ss
# Returns
# -------
# chi2 : float
#     The test statistic.
# p : float
#     The p-value of the test
# dof : int
#     Degrees of freedom
# expected : ndarray, same shape as `observed`
#     The expected frequencies, based on the marginal sums of the table.

test_df = pd.DataFrame(columns=['sex', 'paint']) 

vals = []

for i in range(180): 
    vals.append({'sex': 'men', 'paint': 'wp'})

for i in range(320): 
    vals.append({'sex': 'men', 'paint': 'nw'})

for i in range(125): 
    vals.append({'sex': 'women', 'paint': 'wp'})

for i in range(375): 
    vals.append({'sex': 'women', 'paint': 'nw'})

    
v = pd.DataFrame(vals, index = [v for v in range(1000)])

chi2_contingency(pd.crosstab(v.sex, v.paint))[1]